.category {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../../../../Assets/Images/banner-03.png);
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  align-items: center;
  &-item {
    width: 365px;
    height: 680px;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    background: #1b0080;
    &:hover .category-paragraph {
      display: block;
    }
    &:hover {
      height: 729px;
    }
    .category-item-box {
      width: 100%;
      transition: all 0.5s;
      .category-title {
        font-size: 40.5px;
        font-weight: 600;
        color: #604da6;
        width: 30%;
        height: 80px;
        margin-bottom: 50px;
        margin-left: 21px;
        &:hover {
          color: #ccee5d;
        }
      }
      .category-image {
        width: 100%;
        height: 280px;
        .img {
          display: block;
          width: 100%;
        }
        .img-one {
        }
        .img-two {
          display: none;
        }
        &:hover {
          .img-one {
            display: none;
          }
          .img-two {
            display: block;
          }
        }
      }
      .category-thread {
        display: none;
      }
      .category-content {
        margin-left: 21px;
        color: #604da6;
        font-size: 14.5px;
        font-weight: 300;
        text-align: left;
        line-height: 1.93;
        &:hover {
          color: #ccee5d;
        }
      }
      &:hover {
        .category-title {
          color: #ccee5d;
        }
        .category-image {
          .img-one {
            display: none;
          }
          .img-two {
            display: block;
          }
        }
        .category-thread {
          display: block;
          margin-left: 21px;
          color: #ccee5d;
          font-size: 14.5px;
          font-weight: 600;
        }
        .category-content {
          color: #ccee5d;
          margin-left: 21px;
        }
      }
    }
  }
  &-heading {
    line-height: 4.97;
    font-size: 33px;
    font-weight: bold;
  }
  &-paragraph {
    display: none;
  }

  .even1 {
    color: #ff9933;
  }
}
@media only screen and (max-width: 1200px) {
  .category {
    &-item {
      .category-item-box {
        .category-title {
          font-size: 30.5px;
          font-weight: 600;
          color: #604da6;
          width: 30%;
          height: 80px;
          margin-bottom: 50px;
          margin-left: 21px;
          &:hover {
            color: #ccee5d;
          }
        }

        .category-content {
          margin-left: 21px;
          color: #604da6;
          font-size: 12.5px;
          font-weight: 300;
          text-align: left;
          line-height: 1.93;
          &:hover {
            color: #ccee5d;
          }
        }
        &:hover {
          .category-title {
            color: #ccee5d;
          }
          .category-image {
            .img-one {
              display: none;
            }
            .img-two {
              display: block;
            }
          }
          .category-thread {
            display: block;
            margin-left: 21px;
            color: #ccee5d;
            font-size: 12.5px;
            font-weight: 600;
          }
          .category-content {
            color: #ccee5d;
            margin-left: 21px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .category {
    &-item {
      .category-item-box {
        .category-title {
          font-size: 25.5px;
          font-weight: 600;
          color: #604da6;
          width: 30%;
          height: 80px;
          margin-bottom: 50px;
          margin-left: 21px;
          &:hover {
            color: #ccee5d;
          }
        }
        .category-image {
          height: 200px;
        }
        .category-content {
          margin-left: 21px;
          color: #604da6;
          font-size: 10.5px;
          font-weight: 300;
          text-align: left;
          line-height: 1.93;
          &:hover {
            color: #ccee5d;
          }
        }
        &:hover {
          .category-title {
            color: #ccee5d;
          }
          .category-image {
            .img-one {
              display: none;
            }
            .img-two {
              display: block;
            }
          }
          .category-thread {
            display: block;
            margin-left: 21px;
            color: #ccee5d;
            font-size: 10.5px;
            font-weight: 600;
          }
          .category-content {
            color: #ccee5d;
            margin-left: 21px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .category {
    &-item {
      height: 500px;
      .category-item-box {
        .category-title {
          font-size: 22.5px;
          font-weight: 600;
          color: #604da6;
          width: 30%;
          height: 60px;
          margin-bottom: 50px;
          margin-left: 21px;
          &:hover {
            color: #ccee5d;
          }
        }
        .category-image {
          height: 150px;
        }
        .category-content {
          margin-left: 21px;
          color: #604da6;
          font-size: 9.5px;
          font-weight: 300;
          text-align: left;
          line-height: 1.93;
          &:hover {
            color: #ccee5d;
          }
        }
        &:hover {
          .category-title {
            color: #ccee5d;
          }
          .category-image {
            .img-one {
              display: none;
            }
            .img-two {
              display: block;
            }
          }
          .category-thread {
            display: block;
            margin-left: 21px;
            color: #ccee5d;
            font-size: 9.5px;
            font-weight: 600;
          }
          .category-content {
            color: #ccee5d;
            margin-left: 21px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 567px) {
  .category {
    &-item {
      height: 470px;
      .category-item-box {
        .category-title {
          font-size: 22.5px;
          font-weight: 600;
          color: #604da6;
          width: 30%;
          height: 60px;
          margin-bottom: 50px;
          margin-left: 10px;
          &:hover {
            color: #ccee5d;
          }
        }
        .category-content {
          display: none;
          margin-left: 10px;
          color: #604da6;
          font-size: 9.5px;
          font-weight: 300;
          text-align: left;
          line-height: 1.93;
          &:hover {
            color: #ccee5d;
          }
        }
        &:hover {
          .category-title {
            color: #ccee5d;
          }
          .category-image {
            .img-one {
              display: none;
            }
            .img-two {
              display: block;
            }
          }
          .category-thread {
            display: block;
            margin-left: 21px;
            color: #ccee5d;
            font-size: 9.5px;
            font-weight: 600;
          }
          .category-content {
            color: #ccee5d;
            margin-left: 21px;
          }
        }
      }
    }
  }
}
